.fieldList {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  max-width: 600px;
  overflow-x: auto;
  padding: 0.5rem 0;
  justify-content: start;
  align-items: center;
  min-width: 300px;
  li {
    flex: 1 0 auto;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    border: 1px solid var(--neutral-accent);
    &:hover {
      border: 1px solid var(--neutral-accent);
      background-color: var(--positive);
      color: var(--neutral);
      opacity: 0.7;
    }

    &.active {
      border: 1px solid var(--neutral-accent);
      background-color: var(--positive);
      color: var(--neutral);
    }
  }
}
